* {
  box-sizing: border-box
}

/*--TABS--*/

/*tab style*/

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #F06292;
  width: 90px;
  height: 300px;
}

/*buttons inside the tab*/

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px;
  text-align: center;
  color: white;
  transition: .3s ease;
  border: 0;
  outline: 0;
  width: 100%;
}
.tab button:hover {
  color: #EC407A
}
.tab button.active {
  color: #E91E63
}

/*tab content style*/

.tabcontent {
  float: left;
  padding: 0 12px;
  border: 1px solid #E91E63;
  width: 70%;
  height: 300px;
  border-left: none;
}
